/* You can add global styles to this file, and also import other style files */
.quadrupede {
    background-color: red;
}

.no-quadrupede {
    background-color: yellow;
}

.animale {
    border: 1px black solid;
}